@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-100: 99 102 241;
  --color-primary-200: 99 102 241;
  --color-background-100: 255 255 255;
  --color-background-200: 9 9 11;
}
